.navbar{
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid $color-primary;
    .logo{
        cursor: pointer;
    }
    .nav-item{
        .active{
            color: #1E1E22 !important;
        }
        a{
            font-weight: 600;
            font-style: normal;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.01em;
            color: #616161;
            margin-left: 40px;
            margin-right: 40px;
            @media only screen and (max-width: $xxl) {
                margin-left: 20px;
                margin-right: 20px;                
            }
            @media only screen and (max-width: $xl) {
                margin-left: 5px;
                margin-right: 5px;                
            }
            @media only screen and (max-width: $lg) {
                margin-left: 0;
                margin-right: 0;     
                margin-top: 15px;           
            }
        }
    }
     .navbar-toggler{
         border: 0px !important;
     } 
     .dropdown-menu{
         .dropdown-item{
             cursor: pointer;
         }
         .active{
             background-color: $color-grey;
             color: $color-primary;
         }
     }  
     .dropdown-account{
         margin-top: 30px !important;
        form{
            button{
                margin-top: 8px;
            }
        }
        .link{
            margin-top: 8px;
            cursor: pointer;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
        }
        .alert-danger{
            font-size: 12px;
            text-align: center;
        }
     }

}
.running-text-promotion{
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.sub-navbar{
    background-color: $color-white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(66, 66, 66, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding: 24px 24px 24px  145px;
    @media only screen and (max-width: $lg) {
        padding-left: 50px;
    }
    h6{
        font-weight: 600;
        font-size: 14px;
    }
    a{
        font-weight: normal;
        font-size: 14px;
    }
    .modal-navbar{
        a{
            text-transform: uppercase;
        }
    }
 }