// base
@import './base/variable' ;
@import './base/main' ;

// layout
@import './components/layout/navbar' ;
@import './components/layout/footer' ;

// elemets
@import './components/elements' ;
@import './components/product' ;
@import './components/sharing' ;

// pages
@import './pages/login' ;
@import './pages/forgotpassword' ;
@import './pages/register' ;
@import './pages/home' ;
@import './pages/webinformation' ;
@import './pages/howitworks' ;
@import './pages/faq' ;
@import './pages/testimonies' ;
@import './pages/contactUs' ;
@import './pages/cart' ;

