@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  color: #1E1E22;
}

main {
  padding-top: 64px;
}

section {
  margin-top: 80px;
}

@media only screen and (max-width: 576px) {
  section {
    margin-top: 30px;
  }
}

hr {
  border-radius: 1px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 330px;
  opacity: 1;
  background-color: #EEEEEE;
}

@media only screen and (max-width: 576px) {
  hr {
    width: 130px;
  }
}

.bg-light {
  background-color: #FFFFFF !important;
}

.btn-primary {
  background-color: #1E1E22 !important;
  border-radius: 8px;
  font-weight: bold;
}

.btn-transparent {
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.btn-transparent:hover {
  background-color: #FFFFFF;
  color: #1E1E22;
}

.text-danger {
  color: #B81C23 !important;
}

.btn-light {
  font-weight: bold;
  background-color: #FFFFFF;
  border: 1px solid #1E1E22;
  border-radius: 8px;
}

.btn-light:hover {
  border: 1px solid #1E1E22;
}

.heading {
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.0025em;
  color: #1E1E22;
}

.desc {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #1E1E22;
}

.value {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #1E1E22;
}

a {
  text-decoration: none;
  color: #1E1E22;
}

a:hover {
  color: #1E1E22;
}

button:focus,
textarea:focus,
select:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -1px 0 #ddd !important;
          box-shadow: inset 0 -1px 0 #ddd !important;
  outline: none !important;
}

.navbar {
  -webkit-box-shadow: 0px 6px 10px rgba(66, 66, 66, 0.25), 0px 0px 4px rgba(66, 66, 66, 0.2);
          box-shadow: 0px 6px 10px rgba(66, 66, 66, 0.25), 0px 0px 4px rgba(66, 66, 66, 0.2);
  padding-left: 24px;
  padding-right: 24px;
}

.navbar .logo {
  width: 60px;
  height: 52px;
  cursor: pointer;
}

.navbar .nav-item .active {
  color: #1E1E22 !important;
}

.navbar .nav-item a {
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #616161;
  margin-left: 40px;
  margin-right: 40px;
}

@media only screen and (max-width: 1400px) {
  .navbar .nav-item a {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar .nav-item a {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 992px) {
  .navbar .nav-item a {
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
  }
}

.navbar .navbar-toggler {
  border: 0px !important;
}

.navbar .dropdown-menu .dropdown-item {
  cursor: pointer;
}

.navbar .dropdown-account {
  margin-top: 30px !important;
}

.navbar .dropdown-account form button {
  margin-top: 8px;
}

.navbar .dropdown-account .link {
  margin-top: 8px;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.navbar .dropdown-account .alert-danger {
  font-size: 12px;
  text-align: center;
}

footer {
  color: white;
  margin-top: 160px;
  background-color: #1E1E22;
}

footer h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.0015em;
  margin-bottom: 8px;
}

footer p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 0;
}

footer .input-newsletter {
  margin-top: 12px;
  width: 272px;
}

footer .input-newsletter label {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

footer .input-newsletter .form-control {
  border-radius: 0;
  height: 32px;
  border: 0;
}

footer .input-newsletter .btn-primary {
  height: 32px;
  font-size: 12px;
  border: 2px solid white;
  border-radius: 0;
  margin-top: 0px;
}

.dropdown-container {
  right: 0 !important;
  left: auto !important;
  margin: 1vh;
  margin-top: 1vh !important;
  border: 0 !important;
  width: 336px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(66, 66, 66, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(66, 66, 66, 0.2);
  border-radius: 4px;
}

.dropdown-container h5 {
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.0015em;
  color: #424242;
}

.dropdown-container p {
  letter-spacing: 0.0025em;
  font-weight: normal;
  font-size: 14px;
}

.dropdown-container .dropdown-item:active {
  background-color: #1E1E22 !important;
}

.dropdown-language .language-menu .active {
  background-color: #F5F5F5;
  cursor: auto !important;
}

.dropdown-language .language-menu .language-menu-list {
  cursor: pointer;
}

.dropdown-account a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb {
  margin-top: 30px;
}

.breadcrumb p {
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
}

.breadcrumb p .active {
  color: #424242 !important;
  font-weight: bold;
}

.breadcrumb p .link {
  cursor: pointer;
  text-decoration: none !important;
  color: #757575;
}

form .form-control {
  border: 1px solid #1E1E22 !important;
  border-radius: 4px;
  height: 45px;
}

form .text-area {
  height: 133px;
}

form .form-control-danger {
  border: 1px solid #B81C23 !important;
  border-radius: 4px;
  height: 45px;
}

form .form-group {
  margin-top: 12px;
  margin-bottom: 12px;
}

form .form-group span {
  font-size: 12px;
  line-height: 18px;
}

form button {
  margin-top: 24px;
}

.icon-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.swal-modal {
  color: #1E1E22;
}

.swal-modal .swal-icon--success__ring {
  border: 4px solid #1E1E22;
}

.swal-modal .swal-title {
  color: #1E1E22;
  font-style: normal;
  font-size: 24px;
}

.swal-modal .swal-text {
  color: #1E1E22;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.0015em;
}

.swal-modal .swal-icon--warning__body
, .swal-modal .swal-icon--warning__dot
, .swal-modal .swal-icon--error__line
, .swal-modal .swal-icon--success__line {
  background-color: #1E1E22 !important;
}

.swal-modal .swal-icon--warning, .swal-modal .swal-icon--error {
  border-color: #1E1E22 !important;
}

.swal-modal .swal-footer {
  text-align: center;
}

.swal-modal .swal-footer .swal-button {
  background-color: #1E1E22;
}

.swal-modal .swal-footer .swal-button--cancel {
  background-color: #FFFFFF;
  border: 1px solid #1E1E22;
}

#modalPromotion {
  top: 10% !important;
}

#modalPromotion .icon-close {
  position: absolute;
  cursor: pointer;
  right: 0;
}

.banner {
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 576px) {
  .banner {
    height: 350px;
    margin: 0;
    padding: 0;
  }
}

.banner .container-fluid {
  margin-left: 150px;
}

@media only screen and (max-width: 768px) {
  .banner .container-fluid {
    margin-left: 0;
  }
}

.banner .text {
  width: 476px;
}

@media only screen and (max-width: 576px) {
  .banner .text {
    width: auto;
  }
}

.banner .title {
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;
}

@media only screen and (max-width: 576px) {
  .banner .title {
    font-size: 35px;
    line-height: 40px;
  }
}

.banner .desc-banner {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
}

@media only screen and (max-width: 576px) {
  .banner .desc-banner {
    font-size: 24px;
    line-height: 30px;
  }
}

.banner .btn-light {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  border-radius: 50px !important;
  height: 43px;
}

.head {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
}

@media only screen and (max-width: 576px) {
  .head {
    font-size: 34px;
  }
}

.pagination {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination li {
  margin: 4px;
  text-align: center;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  border: 1px solid #E0E0E0;
}

.pagination li a {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #1E1E22;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.pagination li a:focus {
  outline: 0px !important;
}

.pagination .active {
  border: 1px solid #1E1E22;
}

.loader {
  margin: auto;
  border: 13px solid #f3f3f3;
  /* Light grey */
  border-top: 13px solid #1E1E22;
  /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.sub-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.product-home .container-img {
  background: -webkit-gradient(linear, left bottom, left top, from(#E5E5E5), to(#E5E5E5)), #E5E5E5;
  background: linear-gradient(0deg, #E5E5E5, #E5E5E5), #E5E5E5;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(66, 66, 66, 0.2) !important;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(66, 66, 66, 0.2) !important;
  padding: 0;
  margin: 0;
  width: 332px;
  height: 430px;
  position: relative;
}

@media only screen and (max-width: 576px) {
  .product-home .container-img {
    width: 232px;
    height: 330px;
  }
}

.product-home .container-img .cart-container {
  position: absolute;
  background-color: #F5F5F5;
  width: 0px;
  height: 0px;
  z-index: 99;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px;
  right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.product-home .container-img .label-container {
  position: absolute;
  width: 39px;
  height: 20px;
  z-index: 99;
  background: #B8513A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 18px;
}

.product-home .container-img .label-container h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #FFFFFF;
  margin-bottom: 0;
}

.product-home .container-img .stock {
  position: absolute;
  width: 332px;
  height: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  bottom: 0;
  background-color: #1E1E22;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  .product-home .container-img .stock {
    width: 232px;
  }
}

.product-home .container-img .stock h1 {
  color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.0015em;
}

.product-home .container-img .stock span {
  display: none;
  margin-top: 13px;
}

.product-home .container-img:hover .stock {
  height: 62px;
}

.product-home .container-img:hover .stock h1 {
  color: white;
}

.product-home .container-img:hover .stock span {
  display: block;
  margin-top: 13px;
}

.product-home .container-img:hover .cart-container {
  width: 40px;
  height: 40px;
}

.product-home p {
  margin-bottom: 0;
}

.product-home .title {
  cursor: pointer;
  margin-top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.0015em;
}

.product-home .desc {
  margin-top: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

@media only screen and (max-width: 576px) {
  .login .justify-content-end {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
  }
}

.forgot-password .link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0015em;
}

.forgot-password .link a {
  font-weight: bold;
}

.forgot-password .btn-primary {
  font-size: 16px;
}

@media only screen and (max-width: 992px) {
  .forgot-password .heading {
    font-size: 30px;
  }
  .forgot-password .desc {
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
  .forgot-password .heading {
    font-size: 24px;
  }
}

.register {
  padding-bottom: 10vh;
}

.home .btn-primary {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  width: 246px;
  letter-spacing: 0.04em;
}

.home .banner-sm {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.home .banner-sm .title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}

@media only screen and (max-width: 576px) {
  .home .banner-sm .title {
    font-size: 28px;
    line-height: 30px;
  }
}

.home .banner-sm .desc {
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 40px;
}

@media only screen and (max-width: 576px) {
  .home .banner-sm .desc {
    font-size: 22px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .home .banner-sm {
    height: 220px;
  }
}

.home .banner1 {
  background-image: url("/img/promotion/banner1.png");
}

.home .banner2 {
  background-image: url("/img/promotion/banner2.png");
}

.home .howItWorks .sub-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.home .someProduct {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.home .testimonies .carousel .carousel-inner {
  background-color: #EEEEEE;
}

.home .testimonies .carousel .carousel-inner .carousel-item {
  padding-bottom: 100px;
}

.home .testimonies .carousel .carousel-inner .carousel-item .quotes-mark-left {
  position: absolute;
  left: 21px;
  top: 10px;
}

.home .testimonies .carousel .carousel-inner .carousel-item .quotes-mark-right {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 500px;
  padding-bottom: 100px;
}

@media only screen and (max-width: 1200px) {
  .home .testimonies .carousel .carousel-inner .carousel-item .quotes-mark-right {
    padding-right: 300px;
  }
}

@media only screen and (max-width: 992px) {
  .home .testimonies .carousel .carousel-inner .carousel-item .quotes-mark-right {
    padding-right: 0px;
  }
}

.home .testimonies .carousel .carousel-inner .carousel-item .rectangle {
  border-left: 5px solid #1E1E22;
  padding-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 992px) {
  .home .testimonies .carousel .carousel-inner .carousel-item .rectangle {
    border: 0;
    padding-left: 0;
  }
}

.home .testimonies .carousel .carousel-inner .carousel-item .row {
  margin-top: 100px;
  margin-left: 130px;
}

@media only screen and (max-width: 992px) {
  .home .testimonies .carousel .carousel-inner .carousel-item .row {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media only screen and (max-width: 992px) {
  .home .testimonies .carousel .carousel-inner .carousel-item .row p {
    text-align: center;
  }
}

.home .testimonies .carousel .carousel-inner .carousel-item .row .review {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 1400px) {
  .home .testimonies .carousel .carousel-inner .carousel-item .row .review {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .home .testimonies .carousel .carousel-inner .carousel-item .row .review {
    font-size: 18px;
    margin-top: 30px;
  }
}

.home .testimonies .carousel .carousel-inner .carousel-item .row .name {
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 1400px) {
  .home .testimonies .carousel .carousel-inner .carousel-item .row .name {
    font-size: 50px;
  }
}

@media only screen and (max-width: 1200px) {
  .home .testimonies .carousel .carousel-inner .carousel-item .row .name {
    font-size: 42px;
  }
}

.home .testimonies .carousel .carousel-inner .carousel-item .row .container-img .customer-img {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #CCCCCC;
}

@media only screen and (max-width: 1200px) {
  .home .testimonies .carousel .carousel-inner .carousel-item .row .container-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.home .testimonies .carousel .carousel-inner .apostrof {
  font-style: normal;
  font-weight: 300;
  font-size: 288px;
  letter-spacing: 0.005em;
  color: #F5F5F5;
}

.home .testimonies .carousel .carousel-inner .apostrof-top {
  margin-left: 21px;
}

.home .testimonies .carousel .carousel-inner .apostrof-bottom {
  line-height: 67px;
  margin-right: 21px;
}

.home .testimonies .carousel .carousel-control-prev-icon {
  color: #1E1E22;
}

.home .testimonies .carousel .carousel-indicators button {
  background-color: transparent;
  border: 1px solid #1E1E22;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.home .testimonies .carousel .carousel-indicators .active {
  background-color: #1E1E22;
}

.home .testimonies .carousel .carousel-control-next, .home .testimonies .carousel .carousel-control-prev {
  width: 10%;
}

.web-information {
  overflow-x: hidden;
}

.web-information .about-us {
  margin-top: 0px;
  background-color: transparent;
  color: #EEEEEE;
}

.web-information .about-us .bg-banner {
  position: relative;
  height: 221px;
}

.web-information .about-us .bg-banner .content-text {
  z-index: 99;
  position: absolute;
}

.web-information .about-us .bg-banner .content-text a {
  color: #EEEEEE;
}

.web-information .about-us .bg-banner .content-text p .link, .web-information .about-us .bg-banner .content-text p .active {
  color: #EEEEEE !important;
}

.web-information .about-us .bg-banner .content-text .heading {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #EEEEEE;
  margin-top: 64px;
}

.web-information .about-us .bg-banner .content-text hr {
  text-align: center;
  margin-top: 4px;
  background-color: #EEEEEE;
  border-radius: 1px;
  width: 384px;
  height: 2px;
}

.web-information .about-us .bg-banner img {
  z-index: -1 !important;
}

.web-information .about-us .about-content {
  color: #1E1E22;
}

.web-information .about-us .about-content .html-parse {
  position: relative;
}

.web-information .about-us .about-content .our-vision {
  background-color: #EEEEEE;
}

.web-information .about-us .about-content .our-vision .rectanggle {
  border-right: 9px solid #1E1E22;
  min-height: 173px;
  padding-right: 35px;
  position: relative;
}

.web-information .about-us .about-content .our-vision .rectanggle .quotes-mark-left {
  position: absolute;
  left: 0;
  margin-left: 15px;
}

.web-information .about-us .about-content .our-vision .rectanggle .quotes-mark-right {
  position: absolute;
  right: 0;
  margin-top: 100px;
  margin-right: 50px;
}

.web-information .about-us .about-content .our-vision p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  width: 1057px;
  margin-top: 30px;
  z-index: 99;
}

@media only screen and (max-width: 768px) {
  .web-information .about-us .about-content .our-vision p {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 992px) {
  .web-information .about-us .about-content .our-story .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}

.web-information .about-us .about-content .gallery {
  background-color: #EEEEEE;
}

.web-information .about-us .about-content .gallery .image-carousel .image-preview {
  padding-bottom: 32px;
  border-bottom: 1px solid #424242;
}

.web-information .about-us .about-content .gallery .image-carousel .image-thumbnail {
  margin-top: 32px;
  overflow-x: scroll;
}

.web-information .about-us .about-content .gallery .image-carousel .image-thumbnail::-webkit-scrollbar {
  padding-top: 100px;
  height: 5px;
}

.web-information .about-us .about-content .gallery .image-carousel .image-thumbnail:hover::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgrey;
}

.web-information .about-us .about-content .gallery .image-carousel .image-thumbnail .img-container {
  position: relative;
  cursor: pointer;
  width: 176px;
  height: 114px;
}

@media only screen and (max-width: 992px) {
  .web-information .about-us .about-content .gallery .image-carousel .image-thumbnail .img-container {
    height: 70px;
  }
}

.web-information .about-us .about-content .gallery .image-carousel .image-thumbnail .img-container .img-filter {
  width: 176px;
  height: 114px;
  position: absolute;
  background-color: #A89388;
  opacity: 0.5;
  z-index: 99;
}

@media only screen and (max-width: 992px) {
  .web-information .about-us .about-content .gallery .image-carousel .image-thumbnail .img-container .img-filter {
    height: 70px;
  }
}

.web-information .about-us .about-content .gallery .image-carousel .btn {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 4px rgba(66, 66, 66, 0.2), 0px 2px 2px rgba(66, 66, 66, 0.2);
          box-shadow: 0px 0px 4px rgba(66, 66, 66, 0.2), 0px 2px 2px rgba(66, 66, 66, 0.2);
}

.howitworks {
  margin-top: 22px;
}

.howitworks .oddItem {
  margin-bottom: 84px;
}

.howitworks .oddItem .content {
  border-left: 5px solid #424242;
  position: relative;
}

@media only screen and (max-width: 992px) {
  .howitworks .oddItem .content {
    margin-top: 50px;
  }
}

.howitworks .oddItem .content .title {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.0025em;
}

.howitworks .oddItem .content .desc {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.005em;
}

.howitworks .oddItem .content .index {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -webkit-transform: rotate(10.14deg);
          transform: rotate(10.14deg);
  color: rgba(117, 117, 117, 0.15);
  font-weight: 800;
  font-size: 288px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.005em;
  width: 174px;
  height: 150px;
  position: absolute;
  top: 0;
  right: 0;
}

.howitworks .evenItem {
  background: #EEEEEE;
  border-radius: 80px 0px;
  margin-bottom: 84px;
  padding-top: 90px;
  padding-bottom: 90px;
}

.howitworks .evenItem .content {
  position: relative;
}

@media only screen and (max-width: 992px) {
  .howitworks .evenItem .content {
    margin-top: 50px;
  }
}

.howitworks .evenItem .content .title {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.0025em;
}

.howitworks .evenItem .content .desc {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.005em;
}

.howitworks .evenItem .content .index {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  -webkit-transform: rotate(10.14deg);
          transform: rotate(10.14deg);
  color: rgba(117, 117, 117, 0.15);
  font-weight: 800;
  font-size: 288px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.005em;
  width: 174px;
  height: 139px;
  margin-left: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.faq .accordion-item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 10px rgba(66, 66, 66, 0.2), 0px 0px 4px rgba(66, 66, 66, 0.2);
          box-shadow: 0px 6px 10px rgba(66, 66, 66, 0.2), 0px 0px 4px rgba(66, 66, 66, 0.2);
  border-radius: 4px;
  margin-top: 24px;
}

.faq .accordion-item .img-container {
  margin-right: 30px;
  width: 78px;
  height: 78px;
  background: #F5F5F5;
  border-radius: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq .accordion-item .accordion-button:not(.collapsed) {
  color: #1E1E22 !important;
  background-color: #FFFFFF !important;
}

.faq .accordion-item .accordion-button {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

@media only screen and (max-width: 992px) {
  .faq .accordion-item .accordion-button {
    font-size: 18px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .faq .accordion-item .accordion-button {
    font-size: 12px;
  }
}

.testimonies .form-select {
  border: 0px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
  width: 150px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.testimonies .testimonies-item {
  cursor: pointer;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 10px rgba(66, 66, 66, 0.2), 0px 0px 4px rgba(66, 66, 66, 0.2);
          box-shadow: 0px 6px 10px rgba(66, 66, 66, 0.2), 0px 0px 4px rgba(66, 66, 66, 0.2);
}

.testimonies .content {
  padding: 24px;
}

.testimonies .content .container-img {
  width: 82px;
  height: 82px;
  border-radius: 41px;
  background-color: #E5E5E5;
  position: relative;
}

.testimonies .content .container-content {
  width: 186px;
}

@media only screen and (max-width: 768px) {
  .testimonies .content .container-content .desc {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

@media only screen and (max-width: 768px) {
  .testimonies .content .container-content .desc p {
    text-align: left !important;
  }
}

.testimonies .content .container-content .rating {
  margin-bottom: 20px;
}

.testimonies .content .container-content .name {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.0015em;
}

.testimonies .content .container-content .profesion {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.0015em;
}

.testimonies .testimonies-item-head {
  background-color: #F5F5F5;
}

.testimonies .testimonies-item-body {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.0015em;
}

.testimonies .modal .btn-close {
  position: absolute;
  z-index: 99;
  right: 0;
  margin: 8px;
}

.contactus .title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.contactus .desc {
  margin-top: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 105%;
  letter-spacing: 0.01em;
}

.contactus .submited .btn-primary {
  margin-top: 32px;
  width: 361px;
}

.contactus form {
  width: 362px;
}

@media only screen and (max-width: 992px) {
  .contactus form {
    margin-top: 50px;
    width: 100%;
  }
}

.contactus form .form-group:first-child {
  margin-top: 0;
}
/*# sourceMappingURL=index.css.map */