@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  color: #1E1E22;
}

main {
  padding-top: 100px;
}

section {
  margin-top: 80px;
}

@media only screen and (max-width: 576px) {
  section {
    margin-top: 30px;
  }
}

hr {
  border-radius: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.bg-light {
  background-color: #FFFFFF !important;
}

.btn-primary {
  background-color: #1E1E22 !important;
  border-radius: 8px;
  font-weight: bold;
}

.text-danger {
  color: #B81C23 !important;
}

.btn-light {
  font-weight: bold;
  background-color: #FFFFFF;
  border: 1px solid #1E1E22;
  border-radius: 8px;
}

.btn-light:hover {
  border: 1px solid #1E1E22;
}

.heading {
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.0025em;
  color: #1E1E22;
}

.desc {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #1E1E22;
}

.value {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #1E1E22;
}

a {
  text-decoration: none;
  color: #1E1E22;
}

a:hover {
  color: #1E1E22;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -1px 0 #ddd;
          box-shadow: inset 0 -1px 0 #ddd;
  outline: none;
}

.navbar {
  -webkit-box-shadow: 0px 6px 10px rgba(66, 66, 66, 0.25), 0px 0px 4px rgba(66, 66, 66, 0.2);
          box-shadow: 0px 6px 10px rgba(66, 66, 66, 0.25), 0px 0px 4px rgba(66, 66, 66, 0.2);
  padding-left: 24px;
  padding-right: 24px;
}

.navbar .logo {
  width: 60px;
  height: 52px;
  cursor: pointer;
}

.navbar .nav-item .active {
  color: #1E1E22 !important;
}

.navbar .nav-item a {
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #616161;
  margin-left: 40px;
  margin-right: 40px;
}

@media only screen and (max-width: 1400px) {
  .navbar .nav-item a {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar .nav-item a {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 992px) {
  .navbar .nav-item a {
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
  }
}

.navbar .navbar-toggler {
  border: 0px !important;
}

.navbar .dropdown-menu .dropdown-item {
  cursor: pointer;
}

.navbar .dropdown-account {
  margin-top: 30px !important;
}

.navbar .dropdown-account form button {
  margin-top: 8px;
}

.navbar .dropdown-account .link {
  margin-top: 8px;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.navbar .dropdown-account .alert-danger {
  font-size: 12px;
  text-align: center;
}

footer {
  color: white;
  background-color: #1E1E22;
}

footer h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.0015em;
  margin-bottom: 8px;
}

footer p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 0;
}

footer .input-newsletter {
  margin-top: 12px;
  width: 272px;
}

footer .input-newsletter label {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

footer .input-newsletter .form-control {
  border-radius: 0;
  height: 32px;
  border: 0;
}

footer .input-newsletter .btn-primary {
  height: 32px;
  font-size: 12px;
  border: 2px solid white;
  border-radius: 0;
}

.dropdown-container {
  right: 0 !important;
  left: auto !important;
  margin: 1vh;
  margin-top: 1vh !important;
  border: 0 !important;
  width: 336px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(66, 66, 66, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(66, 66, 66, 0.2);
  border-radius: 4px;
}

.dropdown-container h5 {
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.0015em;
  color: #424242;
}

.dropdown-container p {
  letter-spacing: 0.0025em;
  font-weight: normal;
  font-size: 14px;
}

.dropdown-container .dropdown-item:active {
  background-color: #1E1E22 !important;
}

.dropdown-language .language-menu .active {
  background-color: #F5F5F5;
  cursor: auto !important;
}

.dropdown-language .language-menu .language-menu-list {
  cursor: pointer;
}

.dropdown-account a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb p {
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
}

.breadcrumb p .active {
  color: #424242 !important;
  font-weight: bold;
}

.breadcrumb p .link {
  cursor: pointer;
  text-decoration: none !important;
  color: #757575;
}

form .form-control {
  border: 1px solid #1E1E22 !important;
  border-radius: 4px;
  height: 45px;
}

form .form-control-danger {
  border: 1px solid #B81C23 !important;
  border-radius: 4px;
  height: 45px;
}

form .form-group {
  margin-top: 12px;
  margin-bottom: 12px;
}

form .form-group span {
  font-size: 12px;
  line-height: 18px;
}

form button {
  margin-top: 24px;
}

.icon-toggle {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.swal-modal {
  color: #1E1E22;
}

.swal-modal .swal-icon--success__line {
  background-color: #1E1E22;
}

.swal-modal .swal-icon--success__ring {
  border: 4px solid #1E1E22;
}

.swal-modal .swal-title {
  color: #1E1E22;
  font-style: normal;
  font-size: 24px;
}

.swal-modal .swal-text {
  color: #1E1E22;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.0015em;
}

.swal-modal .swal-icon--warning__body, .swal-modal .swal-icon--warning__dot {
  background-color: #1E1E22;
}

.swal-modal .swal-icon--warning {
  border-color: #1E1E22 !important;
}

.swal-modal .swal-footer {
  text-align: center;
}

.swal-modal .swal-footer .swal-button {
  background-color: #1E1E22;
}

.swal-modal .swal-footer .swal-button--cancel {
  background-color: #FFFFFF;
  border: 1px solid #1E1E22;
}

@media only screen and (max-width: 576px) {
  .login .justify-content-end {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
  }
}

.forgot-password .link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0015em;
}

.forgot-password .link a {
  font-weight: bold;
}

.forgot-password .btn-primary {
  font-size: 16px;
}

@media only screen and (max-width: 992px) {
  .forgot-password .heading {
    font-size: 30px;
  }
  .forgot-password .desc {
    font-size: 12px;
  }
}

@media only screen and (max-width: 576px) {
  .forgot-password .heading {
    font-size: 24px;
  }
}

.register {
  padding-bottom: 10vh;
}
/*# sourceMappingURL=index.css.map */